#nav-bar-wrapper, #body-wrapper, #top-bar-wrapper, #header{
	display: none;
}

#indepth_loading{
	background-image: url(../images/A-Landing.gif);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 5000;
	background-color: #b31b2d;
}

.indepth_texto_intro span{
	display: table;
	font-size: 26px;	
	color: #4d6979;
}

.indepth_juan{
	width: 100em;
	height: auto;
	position: fixed;
	top:15em;
	left: 15em;
	opacity: .7;
	z-index: 900;
	cursor: pointer;
}

.indepth_juan:hover{
	opacity: 1;
}

#nav-bar-wrapper, #body-wrapper{
	display: none;
}



.indepth_pages{
	min-width: 960px;
	position: fixed;
	overflow: hidden;
	background-color: white;
	font-family: 'Roboto';
	font-size: 1px;
	margin: auto;
	width: 100%;
	height: 100%;
	
}

.indepth_share{
		position: fixed;
		right: 15em;
		top: 15em;
		z-index: 2000;
		display: -webkit-inline-box;
     display: -webkit-inline-flex;
   display: -moz-inline-box;
     display: -ms-inline-flexbox;
     display: inline-flex;
		
	}
	
	
	.indepth_share_item{
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: rgba(255, 255, 255, 0.2);
		background-color: rgba(255, 255, 255, 0.4);
		float: left;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: auto 20px ;
		margin-left: 7px;
		cursor: pointer;
		margin-bottom: 5px;
	}
	
	.indepth_share_item.facebook{
		background-image: url(../images/boton_facebook.png);
	}
	
	.indepth_share_item.facebook:hover{
		background-color: #3660A4;
	}
	
	.indepth_share_item.twitter{
		background-image: url(../images/boton_twitter.png);
	}
	
	.indepth_share_item.twitter:hover{
		background-color: #02B2F7;
	}
	
	
	.indepth_share_item.whatsapp{
		display: none;
		background-image: url(../images/boton_whatsapp.png);
	}
	
	.indepth_share_item.whatsapp:hover{
		background-color: #85D86D;
	}

.indepth_page{
	width: 100%;
	height: 100%;
	min-width: 960px;
	position: relative;
	overflow: hidden;
	background-color: white;
	margin: auto;
}

.indepth_page_content{
	background-color:  white;
	position: relative;
}

.indepth_page_body{
	bottom: 0px;
	left: 0px;
	margin: 0 auto;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 810px;
	z-index: 2;
	width: 100%;
	height: 100%;
}

.mg_portada{
	background-image: url(../images/portada.png);
	background-repeat: no-repeat;
	background-size: cover;
	display: none;
	position: fixed;
	top:0;
	left: 0;
	z-index: 10000;
}

.horizontal_content{
	display: -webkit-inline-box;
     display: -webkit-inline-flex;
   display: -moz-inline-box;
     display: -ms-inline-flexbox;
     display: inline-flex;
	width: auto;
	height: 756em;
	position: fixed;
	bottom: 0px;
	left: 0px;
	background: transparent;
	
}


.horizontal_content.back{
	z-index: 1;
}

.horizontal_content.front{
	z-index: 200;
}

.indepth_estacion{
	float: left;
	width: 100%;
	height: 100%;;
	background-size: auto 100%;
	position: relative;
}

.indepth_nubes{
	background-image: url(../images/nubes.svg);
	background-repeat: repeat-x;
	width: 100%;
	height: 400px;
	position: absolute;
	top: 0;
	
}

/***** metro y vias *****/
#metro{
	z-index: 52;
	position: fixed;
	left: 50em;
	bottom: 87em;
	width: 380em;
}

#metro_vias {
	width: 100%;
	height: 224em;
	background-repeat: repeat-x;
	position: fixed;
	z-index: 50;
	bottom: 0em;
	background-color: #17746b;
}

#vias_up{
	width: 100%;
	height: 6em;
	background-color: #e82c5e;
}

#vias_in{
	height: 50em;
	width: 100%;
	background-color: #9de065;
}

/***E Elementos generales ***/

.metro_agua{
	height: 30px;
	background-color: #144f7c;
	position: absolute;
	z-index: 2;
}


.metro_torre{
	height: 90%;
	bottom: 0px;
}

.metro_montana{
	width: 580px;
}



.metro_nivel_1{
	z-index: 10;
}

.metro_nivel_2{
	z-index: 20;
}

.metro_nivel_3{
	z-index: 30;
}

.metro_nivel_4{
	z-index: 40;
}



.indepth_texto_cont{
	display: table;
	position: absolute;
	color: #37627f;
	font-family: 'Roboto Condensed';
	
	
}

.indepth_texto_cont.nace{
	background-image: url(../images/General/ICO_NACE2.svg);
	background-repeat: no-repeat;
	background-size: 32em auto;
	background-position: left center;
	padding-left: 40px;
	color: white;
}

.indepth_texto_cont.muere{
	background-image: url(../images/General/ICO_MUERE1.svg);
	background-repeat: no-repeat;
	background-size: 42em auto;
	background-position: left center;
	padding-left: 48px;
	color: white;
}

.indepth_texto_cont.naceb{
	background-image: url(../images/General/ICO_NACE1.svg);
	background-repeat: no-repeat;
	background-size: 32em auto;
	background-position: left center;
	padding-left: 40px;
	color: white;
}

.indepth_texto_cont.white .indepth_fecha{
	color: #f2f2f2;
}

.indepth_texto_cont.white .indepth_texto{
	color: #fff;
	font-weight: 400;
}

.indepth_texto{
	font-size: 20px;
	color: #0c3d57;
	font-weight: 700;
	letter-spacing: .3px;
}

.indepth_fecha{
	font-size: 19px;
	font-weight: 300;
	color: #175576;
	text-transform: uppercase;
}

.indepth_texto_cont.nace .indepth_fecha{
	color: #f2f2f2;
}

.indepth_texto_cont.nace .indepth_texto{
	color: #fff;
	font-weight: 400;
}

.indepth_texto_cont.muere .indepth_fecha{
	color: #f2f2f2;
}

.indepth_texto_cont.muere .indepth_texto{
	color: #fff;
	font-weight: 400;
}


.metro_video_cont{
}

.metro_video_cont div {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.metro_video_cont iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index: 20;
}

#estacion6 {
	
}

#estacion6 .marquesina{
	height: 30em;
	width: 100%;
	position: absolute;
	left: 0;
	top: 15em;
	z-index: 100;
}

.marquesina_C{
	width: 100%;
	display: inline-block;
}

.mar1{
	height: 22em;
	background-color: #AB6E16;
}

.mar2{
	height: 1em;
	background-color: #B87717;
}

.mar3{
	height: 7em;
	background-color: #DF8E1A;
}



/**** Primera estacion ****/



.elements{
	display: inline-block;
	position: absolute;
	z-index: 2;
}

.metro_pasto{
	background: #527E3B;
	height: 135em;
	bottom: 0;
	position: absolute;
	background-image: url(../images/pixel_verde.svg);
}

#estacion_juan{
	width: 1200em;
}

@keyframes cosmicos_flotar{
  from{
   transform : translate(0em,0em);
  }to{
  transform : translate(0em,50em);}
}

@-webkit-keyframes cosmicos_flotar{
  100%{
   transform : translate(0px,0px);
  }

  
   0%{transform : translate(0em,-20px);}
}

@-moz-keyframes cosmicos_flotar{
  100%{
   transform : translate(0px,0px);
  }

  
   0%{transform : translate(0em,-20px);}
}

@-o-keyframes cosmicos_flotar{
  100%{
   transform : translate(0px,0px);
  }

  
   0%{transform : translate(0em,-20px);}
}

.cosmico{
	animation: cosmicos_flotar 1.5s ease infinite alternate;
	-webkit-animation: cosmicos_flotar 1.5s ease infinite alternate;
	-moz-animation: cosmicos_flotar 1.5s ease infinite alternate;
	-o-animation: cosmicos_flotar 1.5s ease infinite alternate;
}

.indepth_texto_cont{
	bottom: 90em;
}

.indepth_estacion_final_cont{
	width: 1400px;
	margin: auto;
	height: 100%;
	position: relative;
}

.FON_MONTANA3{
	bottom: -40em;
}

.indepth_img_center{
	bottom: 220em;
}

.EL_BOCINA{
		bottom: 220em;
	}
	
	.estacionfinal{
		min-width: 800px;
	}
.EL_GENTE{
		bottom: 280em;
	}

@media screen and (max-height: 750px){
	.indepth_pages{
		font-size: .9px;
	}
	
	

}


@media screen and (max-width: 1280px){
#metro{

	//height: 90em;
}

#estacion_juan{
	//width: 900em;
}

.indepth_estacion_final_cont{
	width: 1000px;
	font-size: .8px;
}

	.FON_MONTANA3{
		bottom: 40em;
	}
	
	.EL_GENTE{
		bottom: 350em;
	}
	
	.EL_BOCINA{
		bottom: 280em;
	}
	
	.indepth_img_center{
	bottom: 280em;
}


}

@media screen and (max-width: 1000px){
#metro{

	//height: 90em;
}

#estacion_juan{
	//width: 900em;
}

.indepth_estacion_final_cont{
	width: 900px;
	font-size: .75px;
}

	.FON_MONTANA3{
		bottom: 50em;
	}
	
	.EL_GENTE{
		bottom: 370em;
	}
	
	.EL_BOCINA{
		bottom: 300em;
	}
	
	.indepth_img_center{
	bottom: 300em;
}

.botellas{
	width: 300px;
}


}

@media screen and (max-width: 900px){
#metro{

	//height: 90em;
}

#estacion_juan{
	//width: 900em;
}

.indepth_estacion_final_cont{
	width: 800px;
	font-size: .70px;
}

	.FON_MONTANA3{
		bottom: 60em;
	}
	
	.EL_GENTE{
		bottom: 390em;
	}
	
	.EL_BOCINA{
		bottom: 320em;
	}
	
	.indepth_img_center{
	bottom: 320em;
}


}


@media screen and (max-height: 600px){
	
	#horizontal_content{
		height: 360px;
	}
	
	.min_300{
		min-width: 300em;
	}
	
	.metro_agua{
		height: 12px;
	}
	
	.indepth_share_item.whatsapp{
		display: block;
	}
	
	.indepth_pages{
		font-size: .45px;
	}
	
	.indepth_texto_cont{
		bottom: 50em;
		max-width: 290em;
		min-width: 380em;
	}
	
	.metro_texto_c1{
		width: 140px;
	}
	
	.indepth_texto_cont.nace{
		padding-left: 20px;
	}
	
	.indepth_texto_cont.naceb{
		padding-left: 20px;
	}
	
	
	.indepth_fecha{
		font-size: 15px;
	}
	
	.indepth_texto{
		font-size: 14px;
	}
	
	#estacion_juan{
		width: 1000em;
	}

	
	.metro_texto_c1 .metro_texto_header{
		height: 22px;
		line-height: 22px;
		font-size: 12px;
		padding: 0 6px ;		
	}
	
	.metro_texto_c1 .metro_texto_content{
		padding: 6px 6px ;
	
	}
	
	.metro_texto_c1 .metro_texto_normal{
		font-size: 12px;
		line-height: 12px;
	}
	
	.metro_texto_c1 .metro_texto_big{
		font-size: 20px;
		line-height: 22px;
	}
	
	.metro_texto_c2{
		width: 150px;
	}
	
	.metro_texto_c2 .metro_texto_header{
		font-size: 11px;
		height: 20px;
		line-height: 20px;
		padding: 0 5px;
	}
	
	.metro_texto_c2 .metro_texto_content{
		font-size: 10px;
		padding: 5px;
		line-height: 11px;
	}
	
	.metro_texto_c3 .metro_text_left{
		width: 20px;
	}
	
	.metro_texto_c3 .metro_texto_big{
		font-size: 10px;
		padding-left: 5px;
		line-height: 11px;
	}
	
	.metro_texto_c3 .metro_texto_normal{
		font-size: 9px;
		margin-left: 5px;
		line-height: 9px;
	}
	
	
	.metro_texto_c4{
	width: 180px;

}


.metro_texto_c4 .metro_texto_header{
	height:22px;
	line-height: 22px;
	font-size: 9px;
	padding: 0 6px;	
}

.metro_texto_c4 .metro_texto_content{
	padding: 6px 6px ;

}

.metro_texto_c4 .metro_texto_normal{
	font-size: 12px;
	line-height: 13px;
}

.metro_texto_c4 .metro_texto_big{
	font-size: 22px;
	line-height: 23px;
	margin-bottom: 5px;
}
	

}

@media screen and (max-height: 400px){
	.indepth_pages{
		font-size: .4px;
	}
	
	.horizontal_content{
		height: 640em;
	}
}


@media screen and (max-width: 480px){
	
		#horizontal_content{
		height: 360px;
	}
	
}

/******************* vocho *******************/

.metro_texto_c2 .metro_texto_big{
	font-size: 65px;
	font-weight: 600;
	line-height: 65px;
	color: #000;
}

.indepth_asteroides{
	background-image: url(../images/asteroides.svg);
	background-repeat: repeat-x;
	width: 100%;
	height: 100%;
}

@media screen and (max-height: 600px){
	.metro_texto_c2 .metro_texto_big {
	    font-size: 25px;
	    line-height: 20px;
	}
	
	#drag{
		display: block;
	}
}


